.button {
    width: 60px;
    height: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.button:hover {
    transform: scale(1.03);
}

.start_button {
    background-color: darkseagreen;
    margin-right: 10px;
}

.start_button_off {
    background-color: gray;
    pointer-events: none;
    margin-right: 10px;
}

.stop_button {
    background-color: palevioletred;
}