.time_cell_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    padding: 0.5em 0 1.3em 0;
}

.time_font {
    color: azure;
    font-size: 25px;
    line-height: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.time_cell {
    padding: 8px;
    border-radius: 10px;
    margin: 0 0.3em;
}

.time_cell_hours {
    border: 2px solid palevioletred;
}

.time_cell_minutes {
    border: 2px solid skyblue;
}

.time_cell_seconds {
    border: 2px solid darkseagreen;
}